.cart {
    background-color: bisque;
    padding: 20px;
    position: sticky;
    top: 0;
}

.cart h5 {
    margin-top: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;



    color: #1C2B35;
}

.cart h6 {
    margin-top: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;

    color: #0E161A;
}